'.platform-darwin atom-text-editor':
  'alt-cmd-q': 'autoflow:reflow-selection'

'.platform-linux atom-text-editor':
  'ctrl-alt-q': 'autoflow:reflow-selection'

'.platform-win32 atom-text-editor':
  'ctrl-shift-q': 'autoflow:reflow-selection'
